@model MVC.Models.ProductModel
@{
}
<div class="container">
    @using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="mb-3">            
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
            <p>
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </p>    
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Price" })
            <p>
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="mb-3">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control",rows="4", placeholder = "Description" })
            <p>
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control",type="number", placeholder = "Quantity" })
            <p>
                @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="mb-3">
            @Html.LabelFor(m=>m.Image)
            @Html.TextBoxFor(m => m.Image, "", new {@type="file"})
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>      

    }
</div>