@model List<MVC.Entities.Product>
@{
 
}

<div class="container">
    <h1>Danh sách sản phẩm (số lượng: @Model.Count)</h1>
    <a class="text-primary " asp-controller="Product" asp-action="Create">Create new product</a>
    <table class="table table-striped table-bordered">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>
                        <a href="#" class="text-decoration-none">
                            <button type="button" class="btn btn-outline-primary">Edit</button>
                        </a>
                        <a href="#" class="text-decoration-none">
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>