@model MVC.Models.EmployeeModel
@{
}
<div class="container">
    @using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.Id)
        <div class="border rounded">

            <div class="row m-3 g-3 align-items-center">

                <div class="col-1">
                    <label for="inputName" class="form-label">Name</label>
                </div>
                <div class="col">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                    <p>
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </p>
                </div>

            </div>
            <div class="row m-3 g-3 align-items-center">

                <div class="col-1">
                    <label for="inputCode" class="form-label">Code</label>
                </div>
                <div class="col">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Code" })
                    <p>
                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                    </p>
                </div>
            </div>

            <div class="row m-3 g-3 align-items-center">

                <div class="col-1">
                    <label for="inputRank" class="form-label">Rank</label>
                </div>
                <div class="col">
                    @Html.TextBoxFor(m => m.Rank, new { @class = "form-control", placeholder = "Rank" })
                    <p>
                        @Html.ValidationMessageFor(m => m.Rank, "", new { @class = "text-danger" })
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>  
           
        </div>

    }
</div>