@model List<MVC.Entities.Employee>
@{
}
<div class="container">
    <h1>Employee</h1>
    <a class="text-primary" asp-controller="Employee" asp-action="Add">Add a employee</a>
    <table class="table table-bordered table-striped">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Code</th>
        <th>Rank</th>
        <th>Department</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    <th>@item.Code</th>
                    <th>@item.Rank</th>
                    <th>@item.DepartmentId</th>
                    <td>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a onclick="return confirm('Delete employee @item.Name')"
                           asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>