@model List<MVC.Entities.Department>
@{
}
<div class="container">
    <h1>Department</h1>
    <a class="text-primary" asp-controller="Department" asp-action="Add">Add a department</a>
    <table class="table table-bordered table-striped">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
        <th>Location</th>
        <th>NumberOfPersonals</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td>@item.Location</td>
                    <td>@item.NumberOfPersonals</td>
                    <td>
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@item.Id" 
                           class="text-decoration-none">
                            <button type="button" class="btn btn-outline-primary">Edit</button>
                        </a>
                        <a onclick="return confirm('Delete category @item.Name')"
                           asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"
                           class="text-decoration-none">
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>